scopeName: 'source.recap'
name: 'Recap'
fileTypes: [ 'txt' ]
limitLineLength: false

patterns: [

  {
    comment: 'Parties of the contract or 3d parties'
    name: 'keyword.operator.recap'
    match: '(?i)\\bch(a)?(r)?((tr)|(rs)|(ts)|(rter)(er)?|(rterers)|(rtrs)|(.*[r]\'s))\\b|\\bow(n|s)?((er)(\'s)?|(rs)|(ers)|(\'s)?|(s))\\b|\\bship(p)?((ers)|(rs)|(er))\\b|\\bship\\b|ships|vessel|vsl|vessels|vsl|ships|account|acct|accnt|acnt|crew|master|captain|receiver(s)?|consignee(s)?|agent(s)?|manager(s)?\\b'

  }
  {
    # units, tech terms and laytime related words
    name: 'support.function.section.recap'
    match: '(?i)\\b(mts|mt|cbm|cbf(t)?|cft|sqm|(m | m|m$)|meter(s)?|mtr|h|l|length|breadth|width|wide|w|b|fwd|aft|kg|colli|pkgs|ton|tons|mtons|kilograms|grams|kilogram|gram|liter|stw|sf|hours|hrs|mins|minutes|day(s)?|a60|co2|usd|eur|nok|pdpr|per day|pro rata|pm|am|load|loading|dischare|discharging|disch|port(s)?|rate|rates|port|lport|loadport|l/port|dport|d/port|disport|load|discharge|disch|pol|pod|gsb|sb|aaaa|aa|lumpsum|lumps|cargo|laycan|(l/c)|laydays|cancelling|cay-can|lay/can|b\\(s\\)/l|bs/l|WWHRS|wwww|pwwd|wwd|wwday(s)?|shinc|sshinc|sshex|inclot|daily|shex|hex|fhex|fshex|uu|eiu|delivery|dely|redelivery|re-delivery|redly|delivered|redelivered|atdnsshinc|atdnshinc|Dlosp|aps|pico|notice(s)?|nor|n\\.o\\.r(\\.)?|pct|min(imum)?|max(imnum)?|period|duration|dur|time|fio|fios|filo|lilo|liner in|liner out|lifo|under hook|underhook|hook|fios/t|trimmed|spout|grab(s)?|grabtrimmed)\\b'
  }
    # important words, mostly related to responsibility, liabilty etc.
    name: 'support.variable.recap'
    match: '(?i)\\b(chopt|in chopt|option|liable|to be|\\bless\\b|more|as per|has right|void|reject|damaged|guarantee|without guarantee|gtee|confirm|wog|risk(s)?|cost(s)?|expense(s)?|must|amned|amended|delete|insert|amend|reinstate|yes|no |n/a|strict|strictly|comply|pay|paid|payable|shall|should|responsible|responsibility|has to|have to|excluded|always|at all times|pay|paid|lost|not|count|excl|exlude|excluding|excluded|add|prohibited|allowed|inl|iwl|change|apply|applies|to apply|bends|both ends)\\b'
  {
    # numbers
    name: 'constant.numeric.recap'
    match: '(?i)(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))'

}
  {
    # legal refernces
    name: 'string.other.recap'
    match: '(?i)\\b(clause(s)?|cl|cls|(cp|cp$)|c/p|charter party|tc|t/c|time-charter|timecharter|terms|conditions|b/l|Bill(\\(s\\))? of Lading|letter of indemnity|loi|P&I Club|wording|pandi|p&i|sanction(s)?|ofac|arbitration|general average|hague-visby|hague visby|rightship)\\b'
  }
{
    # quoted text
    name: 'string.quoted.double.chartering'
    begin: '("|«)'
    end: '("|»)'
    beginCaptures:
      0:
        name: 'punctuation.definition.string.begin.reacp'
    endCaptures:
      0:
        name: 'punctuation.definition.string.end.recap'
  }
  {
    # freisght and demurrage related
    name: 'support.class.recap'
    match: '(?i)\\b(freight|frt|dem|demurrage|hire|cve|c/v/e)\\b'
  }
]
